<template>
  <div class="content">
    <div class="header">
      <img src="../assets/logo.png">
      <h1>PROVE IT'S NOT A FISHY STORY</h1>
    </div>

    <div class="actions">
      <button class="info">LOGIN</button>
      <button class="success">SIGN UP</button>
      <button class="facebook" @click="register()">LOGIN WITH FACEBOOK</button>

      <p>By clicking Register you accept the <a href="#">terms of use</a></p>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Login',
    methods: {
      register: function () {
        this.$auth.register({ email: 'rehnatoaugusto51@hotmail.com', password: 'Starwars*' }).then(function (data) {
          console.log(data)
        })
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .content {
    background: url("../assets/logo.png") cover;
    text-align: center;
  }

  h1 {
    font-size: 18px;
    color: #888;
  }

  button {
    width: 100%;
    padding: 12px 0;
    font-weight: 600;
    border-radius: 4px;
    border: none;
    margin: 4px 0;
    color: #FFF;
  }

  .info {
    background-color: #0e76bc;
  }

  .success {
    background-color: #526428;
  }

  .facebook {
    background-color: #3b579d;
  }
</style>
